body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-image: url("../images/Kingdom\ Hearts\ background.jpg");
  color: white;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
.future-forecast {
  font-family: "Headland One", serif;
  margin: 0;
}

h1 {
  line-height: 1;
}

input {
  background: linear-gradient(
    271deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
  border: 2px solid #000;
  border-radius: 25px;
  padding-left: 8px;
}

input.search-txt {
  width: 200px;
}

div .col-6 {
  width: auto;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2397e4;
}

audio {
  border-radius: 30px;
  box-shadow: 2px 2px 4px 0px #9ba586;
  margin-top: 12px;
}

ul .weather-description::first-letter {
  text-transform: capitalize;
}

button.lctn-btn {
  background: #5ba9f7;
  border: 2px solid #000;
  padding: 5px 8px;
}

button.search-btn {
  background: transparent;
  border: none;
  text-indent: -54px;
}

div.six-day-forecast {
  padding-left: 0;
  padding-right: 0;
}

.celsius-btn:hover {
  background: linear-gradient(
    120deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
}

.fahrenheit-btn:hover {
  background: linear-gradient(
    301deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
}

.six-day-forecast:hover,
.weather-description:hover {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

.weather-app-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 4px 33px;
}

.weather-app {
  background-color: rgb(0 0 0 / 50%);
  border-radius: 15px;
  border: 2px solid #ffff;
  box-shadow: 0px 10px 21px;
}

.today-forecast {
  display: inline-flex;
  padding-top: 9px;
}

.today-temp {
  font-size: 55px;
}

.units {
  vertical-align: super;
}

.celsius-btn,
.fahrenheit-btn {
  border: 1.5px solid #ffff;
  color: #ffff;
}

.celsius-btn {
  border-radius: 0 50% 50% 0;
}

.fahrenheit-btn {
  border-radius: 50% 0 0 50%;
}

.forecast-day {
  font-size: 16px;
  font-weight: 600;
}

.forecast-max-temp {
  color: #f83d3d;
}

.forecast-min-temp {
  color: #2397e4;
}
