body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
.future-forecast {
  font-family: "Headland One", serif;
  margin: 0;
}

h1 {
  line-height: 1;
}

input {
  background: linear-gradient(
    271deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
  border: 2px solid #000;
  border-radius: 25px;
  padding-left: 8px;
}

input.search-txt {
  width: 200px;
}

div .col-6 {
  width: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

ul .weather-description::first-letter {
  text-transform: capitalize;
}

button.lctn-btn {
  background: #5ba9f7;
  border: 2px solid black;
  padding: 5px 8px;
}

button.search-btn {
  background: transparent;
  border: none;
  text-indent: -54px;
}

div.six-day-forecast {
  border-radius: 21%;
  padding-left: 0;
  padding-right: 0;
  border: 1px solid white;
}

.celsius-btn:hover {
  background: linear-gradient(
    120deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
}

.fahrenheit-btn:hover {
  background: linear-gradient(
    301deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
}

.weather-app-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 4px 33px;
}

.weather-app {
  border: 2px solid #000;
  border-radius: 15px;
}

.today-forecast {
  display: inline-flex;
  padding-top: 9px;
}

.today-temp {
  font-size: 55px;
}

.units {
  vertical-align: super;
}

.celsius-btn,
.fahrenheit-btn {
  border: 1.5px solid #000;
  color: #000;
}

.celsius-btn {
  border-radius: 0 50% 50% 0;
}

.fahrenheit-btn {
  border-radius: 50% 0 0 50%;
}

.forecast-day {
  font-weight: 600;
  font-size: 16px;
}

.forecast-max-temp {
  color: #f83d3d;
}

.forecast-min-temp {
  color: #2397e4;
}
