body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
.future-forecast {
  font-family: "Headland One", serif;
  margin: 0;
}

input {
  background: linear-gradient(
    271deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
  border: 2px solid #000;
  border-radius: 25px;
  text-align: center;
}

input.search-txt {
  width: 200px;
}

div .col-6 {
  width: auto;
  padding: 0;
}

a {
  text-decoration: none;
}

ul .weather-description::first-letter {
  text-transform: capitalize;
}

button.lctn-btn {
  background: #5ba9f7;
  border: 2px solid black;
  padding: 5px 8px;
}

button.search-btn {
  background: transparent;
  border: none;
  padding: 5px 6px;
  text-indent: -54px;
}
img:hover.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from {
    transform: scale(0.8);
  }
  to {
    transform: scale(1.2);
  }
}

.celsius-btn:hover {
  background: linear-gradient(
    301deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
}

.fahrenheit-btn:hover {
  background: linear-gradient(
    120deg,
    rgb(115, 120, 252) 0%,
    rgb(85, 177, 246) 100%
  );
}

.weather-app-wrapper {
  margin: 0 auto;
  max-width: 800px;
  padding: 4px 33px;
}

.weather-app {
  border: 2px solid #000;
  border-radius: 15px;
}

.today-forecast {
  display: inline-flex;
}

.today-temp {
  font-size: 55px;
}

.degrees {
  font-size: 45px;
}

.units {
  vertical-align: super;
}

.celsius-btn,
.fahrenheit-btn {
  border: 1.5px solid #000;
}

.celsius-btn {
  border-radius: 50% 0 0 50%;
  color: #5ba9f7;
}

.fahrenheit-btn {
  border-radius: 0 50% 50% 0;
  color: #7379fc;
}

.day-forecast {
  font-weight: 600;
  font-size: 16px;
}
